# Python Lesson 1
August 18, 2020

*In this notebook, we are going to cover the basics of Python*

In [1]:
2 + 2

4

In [2]:
print("Hello world!")

Hello world!

In [3]:
text = "Data"

In [4]:
print(text)

Data

In the previous cell, I used a function on a variable.

In [5]:
number = 2

In [6]:
number + number

4

In [7]:
decimal = 3.14
number + decimal

5.140000000000001

In [8]:
number

2

In [9]:
number
decimal

3.14

In [10]:
print(number)
print(decimal)

2
3.14

In [11]:
type(number)

int

In [12]:
type(text)

str

In [13]:
text + text

'DataData'

In [14]:
text + number

TypeError: can only concatenate str (not "int") to str

# Come back at 10:10

In [15]:
3 > 4

False

In [16]:
check = 3 > 4
type(check)

bool

In [17]:
numbers = [1,2,3,4]

In [18]:
print(numbers)

[1, 2, 3, 4]

In [19]:
numbers.append(5)

In [20]:
print(numbers)

[1, 2, 3, 4, 5]

In [21]:
numbers.append("six")
print(numbers)

[1, 2, 3, 4, 5, 'six']